/*.container-fluid{
    background-color:black;
}

.glyph-nav{
    font-size:1.5em;
}*/
#individual_charts{
    margin-top:2em;
    background-color:#68b6c4;
}
svg{
    margin-left:auto;
    margin-right:auto;
}
h3,
.dc-chart{
    text-align:center;
}
.dc-chart{
    font-family:verdana,helvetica,arial;
    font-size:0.7em;
    border:1px solid black;
    background-color: grey;
    margin:1em;
    padding:1em;
}
.dc-chart h3{
    color:white;
}

.x-axis-label,
.y-axis-label,
.dc-legend-item{
    font-weight: bold;
}
th{
    border-bottom:1px solid black;
}
th,
td{
    padding:0.5em;
}
.dc-table-group{
    background-color:#68b6c4;
}
.dc-table-row td:first-child{
    font-weight:bold;
    font-style: italic;
}
