#individual_charts{
    margin-top:2em;
}
svg{
    margin-left:auto;
    margin-right:auto;
    padding:0;
    margin:0;
}
.jumbotron{
    text-align:center;
    opacity: 0.4;
}
.jumbotron:hover{
    opacity: 1.0;
}
.jumbotron a{
    color:#68b6c4;
    text-decoration: none;
}
.jumbotron a:hover{
    color:white;
    text-decoration: underline;
}
.jumbotron a:visited{
    color:#68b6c4;
    text-decoration: none;
}
.fa-balance-scale{
    color:#68b6c4;
}
#select-country{
    background-color:#cfd0d1;
    border:1px solid black;
    color:white;
}
select.dc-select-menu{
    font-size:1.2em;
    color:white;
    font-weight: bold;
    border:1px solid black;
    background-color: #68b6c4;
}
.chart-title{
    border-bottom:1px solid #cfd0d1;
}
.svg-middle{
    margin-left:auto;
    margin-right:auto;
}

.smallerText{
    font-size: 0.7em;
}
#population{
    background-color:#68b6c4;
    color:white;
    border:1px solid black;
    xfont-weight: bold;
    font-size:1.3em;
    padding:0.5em;
    margin:0.5em;
    text-align: center;
}
table.dc-chart{
    border:1px solid black;
    background-color: grey;
}
table.dc-chart caption{
    font-weight:bold;
}
.header th,
.dc-table-column{
    border:1px solid black;
    color:white;
}
.dc-table-label{
    text-align:left;
}
.header th{
    padding:0.3em;
}
h3,
.dc-chart{
    text-align:center;
}
#chart-ring-year{
    text-align:center;
}
.dc-chart-centered{
    margin-left:auto;
    margin-right:auto;
}
.dc-chart{
    margin:1em;
    padding:1em;
    font-family:verdana,helvetica,arial;
    font-size:0.7em;
}
.dc-chart #crime-stats-table .header{
    padding-left:2em;
    padding-right:2em;
}
.colouredChart{
    border:1px solid black;
    background-color: grey;
}
.dc-chart h3{
    color:white;
}
.x-axis-label,
.y-axis-label,
.dc-legend-item{
    font-weight: bold;
}
th{
    border-bottom:1px solid black;
}
th,
td{
    padding:2em;
}
.dc-table-group{
    background-color:#68b6c4;
}
.dc-table-row td:first-child{
    font-style: italic;
}
.dc-table-label{
    font-weight:bold;
}
.crime-stats-table th{
    font-size:2em;
}
