{% extends "charts.html" %}
{% block links %}
    <li><a href="/"><span class="glyphicon glyphicon-home glyph-nav" aria-hidden="true"></span> Home</a></li>
{% endblock %}
{% block content %}
    {% block by_country_header %}Number of Assaults By Country{% endblock %}
    {% block comboHeader %}Number of Assaults Compared by Country{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/assault_graph.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock %}