{% extends "layout.html" %}
{% block links %}
    <li><a href="/"><span class="glyphicon glyphicon-home glyph-nav" aria-hidden="true"></span> Home</a></li>
{% endblock %}
{% block content %}
    <!--<div class="jumbotron">
        <p class="lead text-center">Charts</p>
    </div>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Select Year
                    </div>
                    <div class="chart-stage">
                        <div id="menu-select"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-2">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Total Number of Crimes
                    </div>
                    <div class="chart-stage" style="background: #33CC99;
                        position: relative;
                        font-size: 29px;
                        color: white;
                        vertical-align: middle;
                        text-align: center;
                        padding-top: 12px;
                        padding-bottom: 0px;">
                        <div id="total-crimes-nd" data-step="5" data-intro="Total crimes for the year" style="font-weight: normal" data-position="right"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="crime-level-row-chart"></div>
            <div class="col-sm-6" id="crime_types"></div>
        </div>
        <div class="row">
            <div class="col-sm-5" id="justice_system_types"></div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-5"></div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock %}