{% extends "layout.html" %}
{% block links %}{% endblock %}
{% block content %}
    <div id="outer" class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Year
                            </div>
                            <div class="chart-stage">
                                <div id="chart-ring-year" data-step="1" data-intro="Select Year" style="font-weight: normal" data-position="right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row init-hide">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                {{ heading.byCountry }}
                            </div>
                            <div class="chart-stage">
                                <div id="carousel-individual-country" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-individual-country0" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-individual-country1" data-slide-to="1"></li>
                                        <li data-target="#carousel-individual-country2" data-slide-to="2"></li>
                                        <li data-target="#carousel-individual-country3" data-slide-to="3"></li>
                                        <li data-target="#carousel-individual-country4" data-slide-to="4"></li>
                                        <li data-target="#carousel-individual-country5" data-slide-to="5"></li>
                                        <li data-target="#carousel-individual-country6" data-slide-to="6"></li>
                                        <li data-target="#carousel-individual-country7" data-slide-to="7"></li>
                                        <li data-target="#carousel-individual-country8" data-slide-to="8"></li>
                                        <li data-target="#carousel-individual-country9" data-slide-to="9"></li>
                                        <li data-target="#carousel-individual-country10" data-slide-to="10"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div id="chart-line-austria" class="colouredChart"><h3>Austria</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-denmark" class="colouredChart"><h3>Denmark</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-finland" class="colouredChart"><h3>Finland</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-ireland" class="colouredChart"><h3>Ireland</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-northern-ireland" class="colouredChart"><h3>Northern Ireland</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-norway" class="colouredChart"><h3>Norway</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-scotland" class="colouredChart"><h3>Scotland</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-slovakia" class="colouredChart"><h3>Slovakia</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-sweden" class="colouredChart"><h3>Sweden</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-wales" class="colouredChart"><h3>Wales</h3></div>
                                        </div>
                                        <div class="item">
                                            <div id="chart-line-rest-of-uk" class="colouredChart"><h3>Scotland, Wales and N.I.</h3></div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-individual-country" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-individual-country" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row init-hide">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                {{ heading.combo }}
                            </div>
                            <div class="chart-stage">
                                <div class="col-md-12" id="chart-line-compare-countries" class="colouredChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-sm-3" id="hidden_crime_type">{{ heading.hidden }}</div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='libs/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/crossfilter.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/d3.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/dc.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/queue.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/keen.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/intro.js') }}"></script>
    <script src="{{ url_for('static',filename='js/graph.js') }}"></script>
    {{ script }}
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock %}