{% extends "layout.html" %}
{% block links %}
    <li><a href="/"><span class="glyphicon glyphicon-home glyph-nav" aria-hidden="true"></span> Home</a></li>
{% endblock %}
{% block content %}
    <!--<div class="jumbotron">
        <p class="lead text-center">Charts</p>
    </div>-->
    <div class="container-fluid">

        <div class="row" id="row1">
            <div class="col-sm-12" id="chart-ring-year"></div>
        </div>
        <div class="row" id="row2">
            <div class="col-sm-12" id="chart-line-annual-crimes"></div>
        </div>
        <div class="row" id="row2">
            <div class="col-sm-12" id="chart-line-annual-crimes2"></div>
        </div>
        <div class="row" id="row3">
            <div class="col-sm-12" style="clear:both">
                <table id="dc-data-table">
                    <thead>
                        <tr class="header">
                            <th>HTTP Response Date</th>
                            <th>HTTP Response 200</th>
                            <th>HTTP Response 302</th>
                            <th>HTTP Response 404</th>
                            <th>HTTP Response Total</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
        <div class="row" id="row4">
            <div class="col-sm-5" id="justice_system_types"></div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-5"></div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock %}