{% extends "layout.html" %}
{% block links %}{% endblock %}
{% block content %}

    <section id="country">
        <div class="row">
            <div class="col-md-12">
                <div id="select-country"></div>
                <!--<select id="choose-country">
                    <option value="Ireland">Ireland</option>
                    <option value="Wales">Wales</option>
                    <option value="Scotland">Scotland</option>
                    <option value="NI">Northern Ireland</option>
                </select>-->
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='libs/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/crossfilter.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/d3.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/dc_old.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/queue.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/keen.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/js/intro.js') }}"></script>
    <script src="{{ url_for('static',filename='js/graph2.js') }}"></script>
    {{ script }}
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock %}