{% extends "layout.html" %}
{% block links %}{% endblock %}
{% block content %}

    <div id="outer" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="jumbotron" data-step="1" data-intro="Description of the project" style="font-weight: normal" data-position="bottom">
                        <p><i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i></p>
                        <h1>A snapshot of Crime and Justice in EU countries</h1>
                        <p>The data displayed here was obtained from the <a href="http://www.cso.ie/en/" target="_blank">Central Statistics Office</a> of Ireland</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ script }}
{% endblock %}