{% extends "layout.html" %}
{% block links %}


    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Crime Statistics by Type <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Assault</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Burlary</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Drug Offences</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Homicide</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Kidnapping</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Rape</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Robbery</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Sexual Assault</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Sexual Violence</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Theft</a></li>
        </ul>
    </li>
        <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Justice System Statistics<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Police Officers</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Prison Staff</a></li>
            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Prison Population</a></li>
        </ul>
    </li>

{% endblock %}
{% block content %}
    <div class="jumbotron">
        <p class="lead text-center">This site shows the CRIME statistics of EU Member states</p>
    </div>
{% endblock %}