<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EU Crime And Criminal Justice Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font_awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/introjs.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="application">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!--<div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Crime and Criminal Justice Statistics for EU Member States</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                         <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Crime Statistics by Type <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Assault</a></li>
                            <li><a href="/burglary"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Burlary</a></li>
                            <li><a href="/drug_offences"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Drug Offences</a></li>
                            <li><a href="/intentional_homicide"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Intentional Homicide</a></li>
                            <li><a href="/kidnapping"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Kidnapping</a></li>
                            <li><a href="/rape"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Rape</a></li>
                            <li><a href="/robbery"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Robbery</a></li>
                            <li><a href="/sexual_assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Sexual Assault</a></li>
                            <li><a href="/sexual_violence"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Sexual Violence</a></li>
                            <li><a href="/theft"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Theft</a></li>
                            <li><a href="/country"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Country</a></li>
                        </ul>
                    </li>
                        <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Justice System Statistics<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Police Officers</a></li>
                            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Prison Staff</a></li>
                            <li><a href="/assault"><span class="glyphicon glyphicon-stats glyph-nav" aria-hidden="true"></span> Prison Population</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        <!--</div>-->
      </div><!-- /.container-fluid -->
    </nav>
    <main>
        <!--<div class="container">-->
            {% block content %}
            {% endblock %}
        <!--</div>-->
    </main>
    <!--<script src="{{ url_for('static',filename='js/graph.js') }}"></script>-->
    {% block scripts %}{% endblock %}
</body>
</html>